@using SPAA.App.ViewModels
@model SPAA.App.ViewModels.MontarGradeResultViewModel

@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/Components/logo.css" />
    <link rel="stylesheet" href="~/css/Components/grade.css" />
    <link rel="stylesheet" href="~/css/Components/montar-grade.css" />
    <link rel="stylesheet" href="~/css/Components/turmas-disponiveis.css" />
}

@{
    ViewData["Title"] = "SPAA";
}

<script>
    const turmasSalvasCodigos = @Html.Raw(Json.Serialize(ViewData["TurmasSalvasCodigos"] ?? new List<int>()));
</script>

<a href="/" style="text-decoration:none">
<div class="toplogo">
    <div class="logoSpaa">
        <img src="~/assets/unbflag.svg" alt="Imagem da Logo da UnB" />
    </div>
    <div>
        <h1 class="logo">SPAA</h1>
        <h2 class="subtitle">Universidade de Brasília</h2>
    </div>
</div>
</a>

<div class="grade-container">

    <form method="post">
        <!-- Cabeçalho -->
        <div class="header-grade">
            <h2>Selecione os horários nos dias que você tem preferência.</h2>
            <button type="button" class="btn-acoes"></button>
        </div>

    <!-- Tabela -->
    <div class="tabela-grade">
        <table>
            <thead>
                <tr>
                    <th>Horários</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sáb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="horario">08:00 - 08:50 </td>
                    <td class="celula" data-horario="M1" data-dia="2"></td>
                    <td class="celula" data-horario="M1" data-dia="3"></td>
                    <td class="celula" data-horario="M1" data-dia="4"></td>
                    <td class="celula" data-horario="M1" data-dia="5"></td>
                    <td class="celula" data-horario="M1" data-dia="6"></td>
                    <td class="celula" data-horario="M1" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">09:00 - 09:50 </td>
                    <td class="celula" data-horario="M2" data-dia="2"></td>
                    <td class="celula" data-horario="M2" data-dia="3"></td>
                    <td class="celula" data-horario="M2" data-dia="4"></td>
                    <td class="celula" data-horario="M2" data-dia="5"></td>
                    <td class="celula" data-horario="M2" data-dia="6"></td>
                    <td class="celula" data-horario="M2" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">10:00 - 10:50</td>
                    <td class="celula" data-horario="M3" data-dia="2"></td>
                    <td class="celula" data-horario="M3" data-dia="3"></td>
                    <td class="celula" data-horario="M3" data-dia="4"></td>
                    <td class="celula" data-horario="M3" data-dia="5"></td>
                    <td class="celula" data-horario="M3" data-dia="6"></td>
                    <td class="celula" data-horario="M3" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">11:00 - 11:50 </td>
                    <td class="celula" data-horario="M4" data-dia="2"></td>
                    <td class="celula" data-horario="M4" data-dia="3"></td>
                    <td class="celula" data-horario="M4" data-dia="4"></td>
                    <td class="celula" data-horario="M4" data-dia="5"></td>
                    <td class="celula" data-horario="M4" data-dia="6"></td>
                    <td class="celula" data-horario="M4" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">12:00 - 12:50 </td>
                    <td class="celula" data-horario="M5" data-dia="2"></td>
                    <td class="celula" data-horario="M5" data-dia="3"></td>
                    <td class="celula" data-horario="M5" data-dia="4"></td>
                    <td class="celula" data-horario="M5" data-dia="5"></td>
                    <td class="celula" data-horario="M5" data-dia="6"></td>
                    <td class="celula" data-horario="M5" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">13:00 - 13:50 </td>
                    <td class="celula" data-horario="T1" data-dia="2"></td>
                    <td class="celula" data-horario="T1" data-dia="3"></td>
                    <td class="celula" data-horario="T1" data-dia="4"></td>
                    <td class="celula" data-horario="T1" data-dia="5"></td>
                    <td class="celula" data-horario="T1" data-dia="6"></td>
                    <td class="celula" data-horario="T1" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">14:00 - 14:50</td>
                    <td class="celula" data-horario="T2" data-dia="2"></td>
                    <td class="celula" data-horario="T2" data-dia="3"></td>
                    <td class="celula" data-horario="T2" data-dia="4"></td>
                    <td class="celula" data-horario="T2" data-dia="5"></td>
                    <td class="celula" data-horario="T2" data-dia="6"></td>
                    <td class="celula" data-horario="T2" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">15:00 - 15:50</td>
                    <td class="celula" data-horario="T3" data-dia="2"></td>
                    <td class="celula" data-horario="T3" data-dia="3"></td>
                    <td class="celula" data-horario="T3" data-dia="4"></td>
                    <td class="celula" data-horario="T3" data-dia="5"></td>
                    <td class="celula" data-horario="T3" data-dia="6"></td>
                    <td class="celula" data-horario="T3" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">16:00 - 16:50</td>
                    <td class="celula" data-horario="T4" data-dia="2"></td>
                    <td class="celula" data-horario="T4" data-dia="3"></td>
                    <td class="celula" data-horario="T4" data-dia="4"></td>
                    <td class="celula" data-horario="T4" data-dia="5"></td>
                    <td class="celula" data-horario="T4" data-dia="6"></td>
                    <td class="celula" data-horario="T4" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">17:00 - 17:50</td>
                    <td class="celula" data-horario="T5" data-dia="2"></td>
                    <td class="celula" data-horario="T5" data-dia="3"></td>
                    <td class="celula" data-horario="T5" data-dia="4"></td>
                    <td class="celula" data-horario="T5" data-dia="5"></td>
                    <td class="celula" data-horario="T5" data-dia="6"></td>
                    <td class="celula" data-horario="T5" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">18:00 - 18:50</td>
                    <td class="celula" data-horario="T6" data-dia="2"></td>
                    <td class="celula" data-horario="T6" data-dia="3"></td>
                    <td class="celula" data-horario="T6" data-dia="4"></td>
                    <td class="celula" data-horario="T6" data-dia="5"></td>
                    <td class="celula" data-horario="T6" data-dia="6"></td>
                    <td class="celula" data-horario="T6" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">19:00 - 19:50</td>
                    <td class="celula" data-horario="N1" data-dia="2"></td>
                    <td class="celula" data-horario="N1" data-dia="3"></td>
                    <td class="celula" data-horario="N1" data-dia="4"></td>
                    <td class="celula" data-horario="N1" data-dia="5"></td>
                    <td class="celula" data-horario="N1" data-dia="6"></td>
                    <td class="celula" data-horario="N1" data-dia="7"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Input oculto para armazenar os valores marcados -->
    <input type="hidden" id="HorariosMarcados" name="HorariosMarcados" />

    <!-- Botões Inferiores -->
        <div class="botoes-inferiores">
            <div class="linha-superior">
                <button type="submit">Enviar Disponibilidade</button>
                <button type="button" id="limparBtn">Limpar Seleção</button>
            </div>
            <div class="linha-inferior">
                <button type="button" id="salvarGradeBtn">Salvar Grade</button>
            </div>
        </div>
</form>

</div>

<div class="divisao">
    <div class="gridDoida">

        <!-- Turmas Obrigatórias -->
        <div class="card shadow-sm mb-4" style="border-radius: 1rem;">
            <div class="card-header" style="
            color: #001D6C;
            background-color: rgba(74, 144, 226, 0.4);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;">
                Turmas Obrigatórias Disponíveis
            </div>
            <div class="card-body p-0">
                @if (Model.Turmas != null && Model.Turmas.Any())
                {
                    var turmasObrigatoriasViewModel = new TurmaListaViewModel
                {
                    Titulo = "Turmas Obrigatórias Disponíveis",
                    Turmas = Model.Turmas.ToList()
                };
                    @await Html.PartialAsync("_TurmasDisponiveis", turmasObrigatoriasViewModel)
                }
                else
                {
                    <p class="m-3 text-muted">Parabéns! Você não possui disciplinas obrigatórias pendentes.</p>
                }
            </div>
        </div>

        <hr />

        <!-- Turmas Optativas -->
        <div class="card shadow-sm mb-4" style="border-radius: 1rem;">
            <div class="card-header" style="
            color: #001D6C;
            background-color: rgba(74, 144, 226, 0.4);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;">
                Turmas Optativas Disponíveis
            </div>
            <div class="card-body p-0">
                @if (Model.TurmasOptativas != null && Model.TurmasOptativas.Any())
                {
                    var turmasOptativasViewModel = new TurmaListaViewModel
                {
                    Titulo = "Turmas Optativas Disponíveis",
                    Turmas = Model.TurmasOptativas.ToList()
                };
                    @await Html.PartialAsync("_TurmasDisponiveis", turmasOptativasViewModel)
                }
                else
                {
                    <p class="m-3 text-muted">
                        Não foram encontradas turmas optativas para o seu currículo ou você não possui um currículo associado.
                    </p>
                }
            </div>
        </div>

    </div>
    <div class="tutorial-box">
        <h4>Como usar esta página?</h4>
        <ul>
            <li>Você pode selecionar os dias e horários em que você tem disponibilidade na grade acima.</li>
            <li>Clique em "Enviar Disponibilidade" para ver as disciplinas compatíveis.</li>
            <li>Caso queira, pode pular as etapas acima e apenas marcar as turmas que tenha interesse.</li>
            <li>Use o botão “Salvar Grade” para finalizar sua escolha.</li>
        </ul>
    </div>
</div>


<script src="~/js/MontarGrade.js"></script>

@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.Mensagem
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


