@using SPAA.App.ViewModels
@model SPAA.App.ViewModels.MontarGradeResultViewModel

@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/Components/logo.css" />
    <link rel="stylesheet" href="~/css/Components/grade.css" />
    <link rel="stylesheet" href="~/css/Components/montar-grade.css" />
    <link rel="stylesheet" href="~/css/Components/turmas-disponiveis.css" />
}

@{
    ViewData["Title"] = "SPAA";
}

<script>
    const turmasSalvasCodigos = @Html.Raw(Json.Serialize(ViewData["TurmasSalvasCodigos"] ?? new List<int>()));
</script>

<a href="/" style="text-decoration:none">
<div class="toplogo">
    <div class="logoSpaa">
        <img src="~/assets/unbflag.svg" alt="Imagem da Logo da UnB" />
    </div>
    <div>
        <h1 class="logo">SPAA</h1>
        <h2 class="subtitle">Universidade de Brasília</h2>
    </div>
</div>
</a>

<div class="grade-container">

    <form method="post">
        <!-- Cabeçalho -->
        <div class="header-grade">
            <h2>Selecione os horários nos dias que você tem preferência.</h2>
            <button type="button" class="btn-acoes"></button>
        </div>

    <!-- Tabela -->
    <div class="tabela-grade">
        <table>
            <thead>
                <tr>
                    <th>Horários</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sáb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="horario">08:00 - 08:50 </td>
                    <td class="celula" data-horario="M1" data-dia="2"></td>
                    <td class="celula" data-horario="M1" data-dia="3"></td>
                    <td class="celula" data-horario="M1" data-dia="4"></td>
                    <td class="celula" data-horario="M1" data-dia="5"></td>
                    <td class="celula" data-horario="M1" data-dia="6"></td>
                    <td class="celula" data-horario="M1" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">09:00 - 09:50 </td>
                    <td class="celula" data-horario="M2" data-dia="2"></td>
                    <td class="celula" data-horario="M2" data-dia="3"></td>
                    <td class="celula" data-horario="M2" data-dia="4"></td>
                    <td class="celula" data-horario="M2" data-dia="5"></td>
                    <td class="celula" data-horario="M2" data-dia="6"></td>
                    <td class="celula" data-horario="M2" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">10:00 - 10:50</td>
                    <td class="celula" data-horario="M3" data-dia="2"></td>
                    <td class="celula" data-horario="M3" data-dia="3"></td>
                    <td class="celula" data-horario="M3" data-dia="4"></td>
                    <td class="celula" data-horario="M3" data-dia="5"></td>
                    <td class="celula" data-horario="M3" data-dia="6"></td>
                    <td class="celula" data-horario="M3" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">11:00 - 11:50 </td>
                    <td class="celula" data-horario="M4" data-dia="2"></td>
                    <td class="celula" data-horario="M4" data-dia="3"></td>
                    <td class="celula" data-horario="M4" data-dia="4"></td>
                    <td class="celula" data-horario="M4" data-dia="5"></td>
                    <td class="celula" data-horario="M4" data-dia="6"></td>
                    <td class="celula" data-horario="M4" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">12:00 - 12:50 </td>
                    <td class="celula" data-horario="M5" data-dia="2"></td>
                    <td class="celula" data-horario="M5" data-dia="3"></td>
                    <td class="celula" data-horario="M5" data-dia="4"></td>
                    <td class="celula" data-horario="M5" data-dia="5"></td>
                    <td class="celula" data-horario="M5" data-dia="6"></td>
                    <td class="celula" data-horario="M5" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">13:00 - 13:50 </td>
                    <td class="celula" data-horario="T1" data-dia="2"></td>
                    <td class="celula" data-horario="T1" data-dia="3"></td>
                    <td class="celula" data-horario="T1" data-dia="4"></td>
                    <td class="celula" data-horario="T1" data-dia="5"></td>
                    <td class="celula" data-horario="T1" data-dia="6"></td>
                    <td class="celula" data-horario="T1" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">14:00 - 14:50</td>
                    <td class="celula" data-horario="T2" data-dia="2"></td>
                    <td class="celula" data-horario="T2" data-dia="3"></td>
                    <td class="celula" data-horario="T2" data-dia="4"></td>
                    <td class="celula" data-horario="T2" data-dia="5"></td>
                    <td class="celula" data-horario="T2" data-dia="6"></td>
                    <td class="celula" data-horario="T2" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">15:00 - 15:50</td>
                    <td class="celula" data-horario="T3" data-dia="2"></td>
                    <td class="celula" data-horario="T3" data-dia="3"></td>
                    <td class="celula" data-horario="T3" data-dia="4"></td>
                    <td class="celula" data-horario="T3" data-dia="5"></td>
                    <td class="celula" data-horario="T3" data-dia="6"></td>
                    <td class="celula" data-horario="T3" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">16:00 - 16:50</td>
                    <td class="celula" data-horario="T4" data-dia="2"></td>
                    <td class="celula" data-horario="T4" data-dia="3"></td>
                    <td class="celula" data-horario="T4" data-dia="4"></td>
                    <td class="celula" data-horario="T4" data-dia="5"></td>
                    <td class="celula" data-horario="T4" data-dia="6"></td>
                    <td class="celula" data-horario="T4" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">17:00 - 17:50</td>
                    <td class="celula" data-horario="T5" data-dia="2"></td>
                    <td class="celula" data-horario="T5" data-dia="3"></td>
                    <td class="celula" data-horario="T5" data-dia="4"></td>
                    <td class="celula" data-horario="T5" data-dia="5"></td>
                    <td class="celula" data-horario="T5" data-dia="6"></td>
                    <td class="celula" data-horario="T5" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">18:00 - 18:50</td>
                    <td class="celula" data-horario="T6" data-dia="2"></td>
                    <td class="celula" data-horario="T6" data-dia="3"></td>
                    <td class="celula" data-horario="T6" data-dia="4"></td>
                    <td class="celula" data-horario="T6" data-dia="5"></td>
                    <td class="celula" data-horario="T6" data-dia="6"></td>
                    <td class="celula" data-horario="T6" data-dia="7"></td>
                </tr>
                <tr>
                    <td class="horario">19:00 - 19:50</td>
                    <td class="celula" data-horario="N1" data-dia="2"></td>
                    <td class="celula" data-horario="N1" data-dia="3"></td>
                    <td class="celula" data-horario="N1" data-dia="4"></td>
                    <td class="celula" data-horario="N1" data-dia="5"></td>
                    <td class="celula" data-horario="N1" data-dia="6"></td>
                    <td class="celula" data-horario="N1" data-dia="7"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Input oculto para armazenar os valores marcados -->
    <input type="hidden" id="HorariosMarcados" name="HorariosMarcados" />

    <!-- Botões Inferiores -->
        <div class="botoes-inferiores">
            <button type="submit">Enviar Disponibilidade</button>
            <button type="button" id="limparBtn">Limpar Seleção</button>
            <button type="button" id="salvarGradeBtn">Salvar Grade</button>
        </div>
</form>

</div>

<div class="gridDoida">
    @if (Model.Turmas != null && Model.Turmas.Any())
    {
        // Criar uma instância de TurmaListaViewModel para a partial view
        var turmasObrigatoriasViewModel = new TurmaListaViewModel
                {
                    Titulo = "Turmas Obrigatórias Disponíveis", // Título customizado
                    Turmas = Model.Turmas.ToList() // .ToList() é bom aqui para garantir que é uma List<T>
                };
        @await Html.PartialAsync("_TurmasDisponiveis", turmasObrigatoriasViewModel)
    }
    else
    {
        <p>Parabéns! Você não possui disciplinas obrigatórias pendentes.</p>
    }

    <hr />

    @if (Model.TurmasOptativas != null && Model.TurmasOptativas.Any())
    {
        // Criar uma instância de TurmaListaViewModel para a partial view
        var turmasOptativasViewModel = new TurmaListaViewModel
                {
                    Titulo = "Turmas Optativas Disponíveis", // Título customizado
                    Turmas = Model.TurmasOptativas.ToList() // .ToList() é bom aqui para garantir que é uma List<T>
                };
        @await Html.PartialAsync("_TurmasDisponiveis", turmasOptativasViewModel)
    }
    else
    {
        <p>Não foram encontradas turmas optativas para o seu currículo ou você não possui um currículo associado.</p>
    }
</div>

<script src="~/js/MontarGrade.js"></script>

@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.Mensagem
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


