.logoSpaa {
    margin-right: 1rem;
}

.import-box .form-step {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

    .import-box .form-step.active {
        display: block;
        opacity: 1;
    }

.btn-import {
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #435FA0;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-import:hover {
        background-color: aquamarine;
    }

.question {
    margin-bottom: 3rem;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image-container {
    text-align: center;
    margin: 2rem 0;
}

.question-image {
    max-width: 100%; /* ajuste conforme necessário */
    height: auto;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
    border-radius: 8px; /* Opcional: cantos arredondados */
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .option input[type="radio"] {
        margin-right: 0.5rem;
    }

    .option label {
        cursor: pointer;
    }

.question h4 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-align: justify;
}

.rating label {
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

    .rating label:hover {
        background-color: rgba(67, 95, 160, 0.2); /* cor clara ao passar o mouse */
        transition: all 0.3s ease-in-out;
    }

.rating input[type="radio"] {
    display: none;
}

    .rating input[type="radio"]:checked + label {
        background-color: #435FA0;
        color: white;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
        gap: 0.5rem;
    }
