@model SPAA.App.ViewModels.UploadHistoricoViewModel
@{
    ViewData["LayoutType"] = "formulario";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Shared/import.css" />
    <style>
        .import-box {
            max-width: 60rem;
            width: 90%;
            margin: 0 auto;
        }

        #loading {
            display: none;
            margin-top: 1rem;
            text-align: center;
        }

        .logoSpaa {
            margin-right: 1rem;
        }

        .btn-import {
            margin-top: 1rem;
            padding: 0.8rem 1.2rem;
            background-color: #435FA0;
            color: white;
            border: none;
            border-radius: 2rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-import:hover {
                background-color: aquamarine;
            }
    </style>
}
<div>
    <div style="margin-bottom: 1rem;" class="toplogo">
        <a href="/Account/Login" style="text-decoration: none; display: flex; align-items: center;">
            <div class="logoSpaa">
                <img src="~/assets/unbflag.svg" alt="Imagem da Logo da UnB" />
            </div>
            <div>
                <h1 class="logo">SPAA</h1>
                <h2 class="subtitle">Universidade de Brasília</h2>
            </div>
        </a>
    </div>
    <div class="box import-box">
        <h3 class="import-title">Importação de Histórico Curricular</h3>
        <p class="import-description">
            Faça o upload do seu Histórico Acadêmico em PDF (gerado pelo SIGAA).
            As informações serão usadas apenas para criar seu plano acadêmico e serão tratadas com total segurança.
        </p>
        <form asp-action="UploadHistorico" class="form" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="mb-3 custom-file-upload">
                <label class="label" for="historico">Importar Histórico:</label>
                <input type="file" id="historico" name="historico" accept=".pdf" required hidden />
                <button type="button" class="btn-import" onclick="document.getElementById('historico').click()" data-bs-toggle="tooltip" title="Clique para anexar seu histórico acadêmico">
                    <img src="~/assets/buttomAnexo.svg" alt="Ícone de anexo" class="icon" />
                    Anexar Histórico Acadêmico
                </button>
                <small style="color: #666;">(Apenas arquivos PDF são permitidos)</small>
            </div>
        </form>
        <div id="loading">
            Quase pronto...
        </div>
    </div>
</div>
<script>
    const input = document.getElementById('historico');
    const form = document.getElementById('uploadForm');
    const loading = document.getElementById('loading');

    input.addEventListener('change', function () {
        if (this.files.length > 0) {
            loading.style.display = 'block';
            form.submit();
        }
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success fixed-top text-center" style="margin-top: 2rem;">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger fixed-top text-center" style="margin-top: 2rem;">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}