@using SPAA.App.ViewModels
@model List<SPAA.App.ViewModels.DisciplinaListaViewModel>

@{
    ViewData["Title"] = "SPAA";
    var disciplinasAprovadas = ViewData["Aprovadas"] as DisciplinaListaViewModel;
}

<!-- Exibe disciplinas aprovadas -->
@if (ViewData["Aprovadas"] is DisciplinaListaViewModel aprovadas)
{
    @await Html.PartialAsync("_ListaDisciplinas", aprovadas)
}

@if (ViewData["Pendentes"] is DisciplinaListaViewModel pendentes)
{
    @await Html.PartialAsync("_ListaDisciplinas", pendentes)
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}