@model Projeto.App.ViewModels.LoginViewModel

<h2>teste</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Matricula"></label>
        <input asp-for="Matricula" />
        <span asp-validation-for="Matricula"></span>
    </div>
    <div>
        <label asp-for="Senha"></label>
        <input asp-for="Senha" type="password" />
        <span asp-validation-for="Senha"></span>
    </div>
    <button type="submit">Entrar</button>
</form>
