@model SPAA.App.ViewModels.ResetPasswordViewModel

@{
    ViewData["LayoutType"] = "formulario";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth.css" />
    <style>
        .container {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .card {
            width: 100%;
        }
        .modal-card {
            width: 30%;
        }

        .toplogo {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: center;
        }

        .logoSpaa img {
            height: 4rem;
            width: auto;
        }

        .logo {
            font-size: 2.5rem;
            font-weight: 700;
            color: #435FA0;
            margin: 0;
            letter-spacing: 0.2rem;
        }

        .subtitle {
            font-size: 1rem;
            color: #435FA0;
            letter-spacing: 0.1rem;
            margin: 0;
        }

        button[type="submit"] {
            max-width: 100%;
        }

        .modal-footer {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 1rem;
        }

    </style>
}

<a href="/Account/Login" style="text-decoration: none;">
<div class="toplogo">
    <div class="logoSpaa">
        <img src="~/assets/unbflag.svg" alt="Imagem da Logo da UnB" />
    </div>
    <div>
        <h1 class="logo">SPAA</h1>
        <h2 class="subtitle">Universidade de Brasília</h2>
    </div>
</div>
</a>

<div class="modal-card mt-5">
    <div class="modal-content" style="box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);">
        <div class="modal-header modal-header d-flex justify-content-between align-items-start flex-column text-center">
            <div class="card" style="background: #F7FBFF;">
                <div class="modal-header ">
                    <h5 class="modal-title mt-4 w-100 " style="margin-bottom: 1rem;">Redefinir Senha</h5>
                </div>
                <div class="modal-body">
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="Email" />

                        <div class="mb-3">
                            <label asp-for="Senha" class="form-label">Nova Senha</label>
                            <input asp-for="Senha" type="password" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmacaoSenha" class="form-label">Confirmar Nova Senha</label>
                            <input asp-for="ConfirmacaoSenha" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                        </div>

                        <div class="modal-footer">
                            <a href="/Account/Login" class="cancel-button" style="background-color: gray;">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}