@model SPAA.App.ViewModels.ForgotPasswordViewModel

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-start flex-column text-center">
                <button type="button" class="btn-close align-self-end" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title w-100">Encontre Sua Conta</h5>
            </div>

            <form asp-action="ForgotPassword" method="post">
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="mb-3">
                        <p class="modal-text">Insira seu Email para encontrar sua conta.</p>
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Digite seu Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color: gray" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
